.App {
  font-family: sans-serif;
  text-align: center;
}

.new-feature-message {
  color: limegreen;
  text-align: left;
  font-size: 0.9rem;
  margin-top: 20px;
  font-weight: bold;
}

.ClickedPlayerTotalTable {
  margin-top: 20px;
}

.SangTable {
  margin-top: 5px;
  /* display: inline-flex; */
}

.updateTimeSection {
  width: 350px;
  margin-left: 5px;
  font-size: 0.72rem;
  text-align: left;
  font-weight: 700
}

.bovada-section {
  width: 238px;
  margin-top: 15px;
  margin-left: 5px;
  font-size: 0.72rem;
  text-align: left;
  font-weight: 700
}

.updateTimeSection2 {
  width: 350px;
  margin-left: 15px;
  font-size: 0.62rem;
  text-align: left;
}

.select-player-message {
  text-align: left;
  /* margin-left: 32px; */
  font-size: 0.9rem;
  font-weight: bold;
}

.patreonSection {
  margin-top: 10px;
  width: 350px;
  margin-left: 10px;
  font-size: 0.82rem;
}

.button {
  border-radius: 10px;
  background-color: #f4511e;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 250px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.bovada-button {
  border-radius: 5px;
  background-color: #f4511e;
  border-color: black;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 12px;
  padding: 4px;
  transition: all 0.5s;
  cursor: pointer;
  margin-left: 24px;
  width: 60px;
  margin-top: 48px;

  /* margin: 5px; */

}

.button2 {
  border-radius: 5px;
  background-color: #f4511e;
  border-color: black;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 12px;
  padding: 4px;
  transition: all 0.5s;
  cursor: pointer;
  margin-left: 12px;
  width: 60px;

  /* margin: 5px; */
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}



.invis-mobile {
  display: none;
}

.invis-mobile-header {
  display: none;
}

.trade-value-theme {
  margin-left: 4px;
  display:flex;
  margin-bottom: 12px;
}

.trade-button{
  border-radius: 5px;
  background-color: limegreen;
  border-color: black;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 12px;
  padding: 4px;
  transition: all 0.5s;
  cursor: pointer;
  margin-left: 12px;
  width: 200px;
}

@media screen and (min-width: 480px) {
  .invis-mobile-header {
    display: table-cell;
  }

  .invis-mobile {
    display: block;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;