name: Fetch BP files

on: 
  workflow_dispatch:
  schedule:
    - cron: '18 3,15 * * 0,1,2,3,4,5,6'
    - cron: '18 11 * * 0'
    - cron: '18 21 * * 1,4'
    
jobs:
  fetch-json:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3
      with:
        token: ${{ secrets.PAT_TOKEN }}
    - name: Set up Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '14'
    - name: Calculate Week Number
      id: week
      run: |
        # Create a script to calculate the week number
        echo '
        function getWeekNumber() {
            const startDate = new Date("2025-09-02");
            const currentDate = new Date();
            const diffTime = currentDate - startDate;
            const diffWeeks = Math.floor(diffTime / (1000 * 60 * 60 * 24 * 7));
            const weekNumber = Math.min(Math.max(diffWeeks + 1, 1), 18);
            return weekNumber;
        }
        console.log(getWeekNumber());
        ' > calculateWeek.js
        
        # Run the script and output the week number
        weekNumber=$(node calculateWeek.js)
        echo "weekNumber=$weekNumber" >> $GITHUB_ENV
    - name: Generate Filename
      id: filename
      run: |
        # Generate a unique filename based on week number and an incrementing integer
        weekNumber=${{ env.weekNumber }}
        indexFile="BettingProsFiles/2025lastIndex${{ env.weekNumber }}.txt"

        # Retrieve or initialize the index
        if [ -f $indexFile ]; then
          lastIndex=$(cat $indexFile)
          nextIndex=$((lastIndex + 1))
        else
          nextIndex=0
        fi

        # Save the updated index
        echo $nextIndex > $indexFile

        # Construct the filename
        filename="BettingProsFiles/2025week${weekNumber}${nextIndex}"
        echo "filename=$filename" >> $GITHUB_ENV

    - name: Fetch JSON from URL
      id: fetch_json
      run: |
        curl -s "https://api.bettingpros.com/v3/props?limit=10000&sport=NFL&market_id=73:74:102:103:100:333:101:106:107:76:105:75:104:66:71:78:253&event_id=21655:21656:21657:21658:21659:21682:21683:21684:21685:21686:21687:21688:21689:21690&ev_threshold=false&include_selections=false&include_markets=true&include_counts=true"  -o ${{ env.filename }}

    - name: Commit and push changes
      uses: EndBug/add-and-commit@v9
      with:
        author_name: sangactions
        author_email: sangkyun.hanpro@gmail.com
        message: "Update JSON data file in BettingProsFiles"
        add: '.'
      env:
        GITHUB_TOKEN: ${{ secrets.PAT_TOKEN }}
